
.table tbody tr td,
.table thead tr th {
    min-width: 100px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.button{
    padding: 6px 20px;
    font-size: 15px;
    border-radius: 8px;
    color: white;
    border: none;
}
.add{
    background-color: #11b517;
}

.edit{
    background-color: #3b76e6;
}

.delete{
    background-color: #dd0a0a;
}

.table tbody tr {
    padding: 5px 0;
}


@media screen and (max-width:1295px) {
    .divTable {
        overflow: scroll;
    }
}

@media screen and (max-width:1250px) {
    .table tbody tr td,
    .table thead tr th {
        min-width: 150px;
    }
}
